-r requirements_pytorch.txt
datasets >= 2.19.1
tiktoken >= 0.7.0
xformers == 0.0.28
orjson >=3.10.3
numpy >= 1.25.2
accelerate >= 0.30.1
torchmetrics >= 1.4.0
tensorboard >= 2.17.0
einops >= 0.8.0
safetensors >= 0.4.5
schedulefree >= 1.4