torch>=2.0
datasets >= 2.19.1
tiktoken >= 0.7.0
xformers >= 0.0.26
orjson >=3.10.3
polars >= 0.20.29
numpy >= 1.25.2
accelerate >= 0.30.1
schedulefree >= 1.2.5
torchmetrics >= 1.4.0
tensorboard >= 2.17.0